---
layout: blog-post
title: Blog
---

{% for post in site.posts %}
    <div class="article">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p class="author">
            <span class="timestamp">{{ post.date }}</span>
        </p>
        <div class="article-content">
            {{ post.content }}
        </div>
    </div>
{% endfor %}
<!--
<div class="pagination-indicators">
    {% if paginator.previous_page %}
        <a href="/blog/page{{ paginator.previous_page }}">&laquo; Previous</a>
    {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
        <a href="/blog/page{{ paginator.next_page }}">Next &raquo;</a>
    {% endif %}
</div>-->