---
layout: blog-archive
title: Blog
math: true
code: true
---

{% for post in site.posts %}
    <div class="article">
        <div class="article-metadata">
            {% include article-metadata.html article=post %}
        </div>
        <div class="article-content">
            {{ post.excerpt }}
        </div>
        <p><a href="{{ post.url }}">Read more &raquo;</a></p>
    </div>
{% endfor %}
<!--
<div class="pagination-indicators">
    {% if paginator.previous_page %}
        <a href="/blog/page{{ paginator.previous_page }}">&laquo; Previous</a>
    {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
        <a href="/blog/page{{ paginator.next_page }}">Next &raquo;</a>
    {% endif %}
</div>-->