{% assign counter = 0 %}

{% for post in site.posts %}
    {% if post.category == include.category %}
        {% capture counter %}{{ counter | plus:1 }}{% endcapture %} 
        <div class="article">
            <div class="article-metadata">
                {% include article-metadata.html article=post %}
            </div>
            <div class="article-content">
                {{ post.excerpt }}
            </div>
            <p><a href="{{ post.url }}">Read more &raquo;</a></p>
        </div>
    {% endif %}
{% endfor %}

{% if counter == 0 %}
    <div class="article">
        <h2>Sorry!</h2>
        <p>It looks like there no articles have been written yet for this
        category.</p>
    </div>
{% endif %}