<div class="table-responsive">
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Team</th>
                <th>Time</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>General meetings</td>
            <td>Thu, 5-6pm</td>
            <td><a href="http://uw.edu/maps/?smi">SMI 120</a></td>
        </tr>
        <tr>
            <td>Control Systems</td>
            <td>Sat, 3-4pm</td>
            <td><a href="http://uw.edu/maps/?meb">MEB 238</a></td>
        </tr>
        <tr>
            <td>Arm</td>
            <td>Fri, 5-7pm</td>
            <td><a href="http://uw.edu/maps/?meb">MEB 238</a></td>
        </tr>
        <tr>
            <td>Chassis</td>
            <td>TBD</td>
            <td>TBD</td>
        </tr>
        </tbody>
    </table>
</div>