<div class="table-responsive">
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Team</th>
                <th>Time</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
        {% for meeting in site.meeting_times %}
            <tr>
                <td>{{ meeting.team_name }}</td>
                <td>{{ meeting.time }}</td>
                <td><a href="{{ meeting.url }}">{{ meeting.location }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>